<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
</head>
<body>
    <h1>Edit Profile</h1>
    <form action="/profile" method="post">
        <div>
            <label for="firstName">Full Name</label>
            <input type="text" id="full_name" name="firstName" value="{{ profile[1] }}" required>
        </div>
        <div>
            <label for="lastName">email</label>
            <input type="text" id="email" name="lastName" value="{{ profile[2] }}" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
        </div>
        <div>
            <input type="submit" value="Update">
        </div>
    </form>
</body>
</html>