<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirect</title>
</head>
<body>
        <form action="" method="">
            <h2 class="section-title-left mb-2" >You can go to login page and login your account!<br>
                <a href="/", target="_blank"> CLick here to Redirect!  </a> 
            </h2>
                <!--by using target="_blank"-> it will open in new tab -->
        </form>
    </div>
</html>